services:
  web:
    build:
      context: .
      dockerfile: "Dockerfile.dev"
    ports:
      - "3000:3000"
    command: bash -c "rm -f tmp/pids/server.pid && ./bin/dev"
    tty: true
    stdin_open: true
    environment:
      - TZ=Asia/Tokyo
    depends_on: 
      db: 
        condition: service_healthy
    volumes:
      - .:/app
      - bundle_data:/usr/local/bundle
      
  worker:
    build:
      context: .
      dockerfile: "Dockerfile.dev"
    # Solid Queueを起動するコマンド
    command: bundle exec rake solid_queue:start
    volumes:
      - .:/app
      - bundle_data:/usr/local/bundle
    environment:
      - TZ=Asia/Tokyo
    depends_on:
      db:
        condition: service_healthy

  db: 
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  bundle_data:
  postgres_data: 
