<div class="page-container">
  <h1 class="page-title">対戦画面</h1>
  <h2>
    <%# ターン数をここに表示する %>
    ⚪︎ターン
  </h2>

  <div class="mt-8 h-24 border">
    対戦相手の情報を表示する領域
  </div>

  <div class="mt-8 h-40 border">
    「手を選んでください」と表示する。
    制限時間が近づいてくるとカウントダウンを表示する。
  </div>

  <div>
    <div class="mt-8 h-24 border">
      ログインしているユーザーの情報を表示する領域
    </div>

    <%# 手の選択領域 %>
    <div class="mt-4 mx-auto grid grid-cols-3 gap-3">
      <button
        data-action="room#pickHand"
        data-room-hand-param="charge"
        data-room-target="chargeButton"
        class="flex justify-center items-center h-28 text-game-text-primary border-2 rounded bg-base hover:opacity-70 disabled:opacity-30 disabled:cursor-not-allowed"
        >
        チャージ
      </button>
      <button
        data-action="room#pickHand"
        data-room-hand-param="attack"
        data-room-target="attackButton"
        class="flex justify-center items-center h-28 text-game-text-primary border-2 rounded bg-base hover:opacity-70 disabled:opacity-30 disabled:cursor-not-allowed"
        >
        攻撃
      </button>
      <button
        data-action="room#pickHand"
        data-room-hand-param="guard"
        data-room-target="guardButton"
        class="flex justify-center items-center h-28 text-game-text-primary border-2 rounded bg-base hover:opacity-70 disabled:opacity-30 disabled:cursor-not-allowed"
        >
        ガード
      </button>
    </div>
  </div>
</div>