<div>
  <h1 class="font-bold text-4xl">Rooms#show</h1>
  <p>
    初期HP：<%= @room.initial_hp %>
  </p>
  <p>
    ガードのクールダウン：<%= @room.guard_cooldown_turns %>ターン
  </p>
  <p>
    パスコード：<%= @room.passcode %>
  </p>
  <p>
    トークン：<%= @room.token %>
  </p>
</div>
